*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  background-color: transparent;
  border: none;
}

body{
  background-color: #141414;
  position: relative;
  font-family: "Circe";
  overflow-x: hidden;

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("/src/assets/img/hero/bg-element.png") no-repeat;
    z-index: -1;
  }

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1522px;
    bottom: 7%;
    right: -37%;
    background: url("/src/assets/img/tarifs/back-light.svg") no-repeat;
    z-index: -1;
  }
}

img{
   height: auto;
   max-width: 100%;
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.title{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 139%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 50px;

  .violet{
    color: #7f5af0;
  }

  .green{
    color: #2cb67d;
  }
}

.btn-border{
  font-family: "Manrope";
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #191919;
  padding: 10px 70px 11px;
  border: 2px solid #7F5AF0;
  border-radius: 100px;
  opacity: .8;
  transition: opacity .2s, background-color .2s;
  cursor: pointer;

  &.green{
    border-color: #2CB67D;
  }

  &.green:hover{
    background-color: #7F5AF0;
  }

  &:hover{
    background-color: #2CB67D;
    border-color: transparent;
    opacity: 1;
  }
}

//header styles
.header{
  margin-bottom: 50px;

  .header__container{
    display: flex;
    flex-direction: column;

    .header__top{
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 30px 0;

      .header__text{
        font-family: "Manrope";
        font-weight: 700;
        font-size: 13px;
        color: #fff;
        margin-right: auto;
      }
    }

    .header__bottom{
      border: 2px solid #404040;
      border-radius: 20px;
      background: #191919;
      padding: 12px 54px;

      .header__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        .header__item-link{
          font-family: "Manrope";
          font-weight: 700;
          font-size: 17px;
          color: #fff;
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 6px 22px;
          background: transparent;
          border-radius: 100px;
          transition: background-color .2s;

          &:hover{
            background-color: #404040;
          }


          &.green{
            padding: 6px 22px;
            background: #2cb67d;
            border-radius: 100px;
            opacity: .8;
            transition: opacity .2s;

            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.btn-violet{
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.25);
    background: #7f5af0;
    border-radius: 100px;
    padding: 22px 40px;
    font-family: "Circe", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #fff;
    opacity: 1;
    transition: opacity .2s;

    &:hover{
      opacity: 0.8;
    }
}

//hero styles
.hero{

  position: relative;
  margin-bottom: 110px;

  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("/src/assets/img/hero/bg.png") center no-repeat;
    z-index: -1;
  }

  &__top{
    display:flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__content{
    max-width: 800px;
  }

  &__title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 139%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 50px;

    .violet{
      color: #7f5af0;
    }

    .green{
      color: #2cb67d;
    }
  }

  &__sub-title{
    font-family: "Circe", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: #fff;
    max-width: 500px;
    margin-bottom: 50px;
  }

  &__image{
    transform: translate(70px, -30px);
  }

  &__bottom{
    border: 1px solid #404040;
    border-radius: 20px;
    padding: 10px;

    &-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      border-radius: 20px;
      background: #191919;
      padding: 10px 27px;
    }

    &-block{
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      gap: 13px;
    }
  }

  &__block-numbers{
    display: flex;
    align-items: center;
    gap: 5px;

    &.green{
      color: #2CB67D;
    }

    &.violet{
      color: #7F5AF0;
    }
  }

  &__block-num{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background: #262626;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 25px;
    width: 30px;
    height: 48px;
  }

  &__block-num-last{
    width: 30px;
    height: 48px;
    background: #262626;
    border-radius: 7px;
    position: relative;
    overflow: hidden;

    &::after{
      content: "0123456789";
      position: absolute;
      color: inherit;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 26px;
      writing-mode: vertical-lr;
      text-orientation: upright;
      top: -175px
    }
  }

  &__block-text{
    font-family: "Circe", sans-serif;;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    color: #fff;
  }
}

// opportunities styles
.opportunities__title{
  font-family: "Inter", sans-serif;;
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 135px;

  &-span{
    color: #2cb67d;
  }
}

.opportunities{
  margin-bottom: 170px;

  &__content{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #191919;

    &-title{
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.03em;
      color: #fff;
      width: 100%;
      margin-bottom: 44px;
    }

    &-text{
      font-family:  "Circe", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 157%;
      color: #fff;
      width: 100%;
    }
  }

  &__media{
    flex: 0 1 50%;
    margin: -92px 0 -122px;
  }

  &__text{
    flex: 0 1 50%;
    padding-left: 50px;
  }
}

//problems

.problems{
  margin-bottom: 130px;
}

.problems__content{
  border-radius: 20px;
  background: #191919;
  padding: 48px 60px;
}

.problems__tab-links{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  margin-bottom: 50px;
}

.problems__tab-content{
  display: flex;
  gap: 98px;
}

.problems__media{
  flex: 0 1 50%;
}

.problems__text{
  flex: 0 1 50%;
  max-width: 444px;
}

.problems__content-title{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 54px;
}

.problems__content-text{
  font-family: "Circe", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 147%;
  color: #fff;
  margin-bottom: 33px;

  &-span{
    font-weight: 700;
  }

  .green{
    color: #2cb67d;
  }
  .violet{
    color: #7f5af0;
  }
}

.problems__content-text:last-child{
  margin-bottom: 0;
}

//simple
.simple{
  margin-bottom: 170px;
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }

  &__actions{
    display: flex;
    flex-direction: column;
    gap: 46px;
    max-width: 535px;

    &-item{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 40px
    }

    &-bold{
      font-weight: 600;
    }
  }

  &__number{
    padding: 20px 30px;
    border-radius: 100%;
    border-width: 4px;
    font-size: 30px;
    font-family: "Inter", sans-serif;
  }

  &__text{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__actions-title{
    font-family: "Circe", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #fff;
  }

  &__actions-description{
    font-family: "Circe", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
  }

  &__media{
    background-color: #191919;
    border-radius: 20px;
    padding: 56px 42px;
  }
}

//partners
.partners{
  margin-bottom: 170px;
  position: relative;
  overflow: visible;

  &::after{
    position: absolute;
    content: '';
    width: 1900px;
    height: 1735px;
    top: -696px;
    left: -650px;
    background: url('/src/assets/img/partners/partnersLight.png') center no-repeat;
    z-index: -1;
  }

  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
  }
}

//carts
.carts{
  margin-bottom: 144px;

  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__block{
    position: relative;
    width: 18%;
    background-color: #191919;
    border-radius: 20px;
    height: 353px;
    padding: 35px 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: width .2s;

    &.active{
      width: 38%;
      align-items: flex-start;
      cursor: default;

      .carts__block-media{
        width: 71px;
        height: 71px;
        background-color: #2CB67D;
        flex: 0 0 auto;
      }

      .carts__block-title{
        text-align: start;
        margin-bottom: 14px;
      }

      .carts__block-description{
        opacity: 1;
        font-family: "Circe", sans-serif;;
        font-weight: 400;
        font-size: 20px;
        line-height: 157%;
        color: #fff;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

      .carts__bg{
        opacity: 0.03;
      }

      .carts__image{
        width: 40px;
        height: 40px;
      }
    }

    &-title{
      font-family: "Circe", sans-serif;
      font-weight: 800;
      font-size: 25px;
      text-align: center;
      color: #fff;
      z-index: 1;
      transition: margin-bottom .2s;
    }

    &-description{
      opacity: 0;
      width: 0;
      height: 0;
      transition: opacity .2s width .2s height .2s;
    }

    &-media{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 111px;
      height: 111px;
      border-radius: 50%;
      background-color: #7F5AF0;
      margin-bottom: 37px;
      transition: width .2s height .2s background-color .2s;
    }
  }

  &__bg{
    width: 208px;
    height: 208px;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .4s;
    opacity: 0;
  }

  &__image{
    width: 65px;
    height: 65px;
  }
}

//feedback
.feedback{
  margin-bottom: 150px;

  &__content{
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  &__sub-title,
  &__content-text{
    font-family: "Circe", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 147%;
    color: #d5d5d5;
    margin-bottom: 24px;
  }

  &__content-text{
    margin-bottom: 42px;
  }

  &__media{
    position: relative;
    right: -9%;
    margin-right: -50px;
  }
}

//promotion
.promotion{
  position: relative;
  margin-bottom: 70px;

  &::before{
    position: absolute;
    content: "";
    top: -50%;
    right: 0;
    width: 500px;
    height: 200px;
    background-image: url("/src/assets/img/promotion/back.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  &::after{
    position: absolute;
    content: "";
    bottom: -50%;
    right: -5%;
    width: 500px;
    height: 200px;
    background-image: url("/src/assets/img/promotion/back.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }

  &__container{
    position: relative;

    &::before{
      position: absolute;
      content: "";
      bottom: -50%;
      left: 50%;
      width: 500px;
      height: 200px;
      background-image: url("/src/assets/img/promotion/back.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__title{
    margin-bottom: 25px;
  }

  &__text{
    margin-bottom: 56px;
    font-family: "Circe", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 147%;
    color: #fff;
  }

  &__btn{
    background-color: #2cb67d;
  }
}

// footer
.footer{
  &__top{
    border-radius: 20px;
    background: #191919;
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  &__media{
    margin-bottom: 72px;
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 42px;
    border-bottom: 1px solid #3C3C3C;
    padding-bottom: 25px;
    margin-bottom: 32px;

    &-text{
      font-family: "Circe", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 147%;
      color: #949494;
    }

    &-link{
      font-weight: 700;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #fff;
    }

    &-text-span{
      font-weight: 700;
      color: #fff;
    }
  }

  &__blocks{
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 34px;
    justify-content: space-between;
    max-width: 1180px;
  }

  &__block{
    display: flex;
    flex-direction: column;

    &-title{
      font-family: "Manrope", sans-serif;
      font-weight: 700;
      font-size: 15px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #fff;
      margin-bottom: 10px;
    }

    &-link{
      @extend .footer__block-title;
    }

    &:last-child{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 100px;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    opacity: 0.6;
    text-decoration-skip-ink: none;
    
    color: #ffffff;

    &:hover{
      text-decoration: underline;
      opacity: 0.9;
    }
  }

  &__soc{
    display: flex;
    gap: 11px;

    &-link{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 52px;
      background-color: #7F5AF0;
      border-radius: 50px;
      transition: opacity .2s;

      &:hover{
        opacity: 0.8;
      }
    }
  }

  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &-text,
    &-link{
      font-family: "Arial", sans-serif;;
      font-weight: 400;
      font-size: 14px;
      line-height: 157%;
      color: #fff;
    }
  }
}

//tarifs

.tarifs{

  &__title{
    margin-bottom: 24px;
  }

  &__text{
    font-family: "Circe", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: #fff;
    max-width: 501px;
    width: 100%;
    margin-bottom: 60px;
  }

  &__buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    margin-bottom: 110px;
  }

  &__btn{
    font-family: "Circe", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    max-width: 397px;
    width: 100%;
    padding: 21px 90px;

    &:hover{
      background-color: #7F5AF0;
    }
  }

  &__btn.active{
    background-color: #7F5AF0;
  }

  &__blocks{
    display: flex;
    margin-bottom: 170px;
    

    &.redemption,
    &.feedback{
      .tarifs__block{
        &:not(:first-child){
          max-height: 445px;
          height: 100%;

          .tarifs__block-list li:nth-child(n+3){
            display: none;
          }
        }        
 
        &.premium{
          position: relative;
          .tarifs__block-wrapper{
            transform: scaleY(0.91);
          }

          &::after{
            position: absolute;
            content: "";
            width: 206px;
            height: 206px;
            top: -62px;
            right: -78px;
            background: url("/src/assets/img/tarifs/icon-top.svg") center no-repeat;
          }
        }
      }
    }
  }

  &__block{
    max-width: 160px;
    width: 100%;
    border-radius: 8px;
    padding: 30px 8px 37px;
    overflow: hidden;
    
    &.premium{
      transform: scaleY(1.1);
      .tarifs__block-wrapper{
        transform: scaleY(0.91);
      }
    }
  }


  &__block:nth-child(1){
    background: #2b2b2b;
  }

  &__block:nth-child(2){
    background: #424242;
  }

  &__block:nth-child(3){
    background: #394c50;
  }

  &__block:nth-child(4){
    background: #335e67;
  }

  &__block:nth-child(5){
    background: #b96333;
  }

  &__block:nth-child(6){
    background: #3f91b2;
  }

  &__block:nth-child(7){
    background: #946ca5;
  }

  &__block:nth-child(8){
    background: #2cb67d;
  }

  &__block-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 84px;
    font-family: "Circe", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    padding-bottom: 32px;
    border-bottom: 1px solid #fff;
    margin-bottom: 16px;
  }

  &__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 11px;
  }

  &__name{
    font-family: "Circe", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    color: #fff;
  }

  &__value{
    font-family: "Circe", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #fff;
  }

  &__block-btn{
    font-size: 14px;
    padding: 12px 28px;
    margin-top: 11px;
    margin-bottom: 27px;
  }

  &__block-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text-title{
    font-family: "Circe", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    margin-bottom: 17px;
  }

  &__block-list{
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.free{
      gap: 18px;
      text-align: center;
      align-items: center;

      .tarifs__block-item{
        font-size: 12px;
      }
    }
  }


  &__block-item{
    display: flex;
    gap: 10px;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    align-items: center;
  }

  &__item-span{
    font-family: "Circe", sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 106%;
    letter-spacing: -0.03em;
  }
}

//All on key
.all-on-key{
  position: relative;
  margin-bottom: 118px;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
  }

  &__title{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 33px;
  }

  &__sub-title{
    font-family: "Circe", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 147%;
    color: #fff;
    margin-bottom: 76px;
  }

  &__blocks{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-bottom: 78px;
  }

  &__block{
    display: flex;
    flex-direction: column;
    max-width: 462px;
    width: 100%;

    &-title{
      font-family: "Circe", sans-serif;
      font-weight: 800;
      font-size: 25px;
      line-height: 147%;
      color: #fff;
      margin-bottom: 5px;
    }

    &-description{
      font-family: "Circe", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 147%;
      color: #fff;
    }
  }

  &__btn{
    padding: 21px 97px;
  }

  &__image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    // max-width: 325px;
    // width: 100%;
    padding: 34px 56px;
    background: #191919;
  }

  // &:after{
  //   position: absolute;
  //   content: "";
  //   background: url("/src/assets/img/tarifs/back-light.svg") center no-repeat;
  //   bottom: 0;
  //   right: 0;
  //   width: 900px;
  //   height: 900px;
  // }
}

//partners-hero
.partners-hero{
  margin-bottom: 130px;

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }

  &__content{
    display: flex;
    flex-direction: column;
  }

  &__sup-title{
    font-family: "Circe", sans-serif;
    font-weight: 350;
    font-size: 20px;
    line-height: 147%;
    color: #fff;
    margin-bottom: 13px;
  }

  &__title{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 148%;
    letter-spacing: 0.03em;
    color: #fff;
  }

  &__list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
  }

  &__item{
    display: flex;
    align-items: center;

    &-media{
      margin-right: 15px;
      max-width: 50px;
      width: 100%;
      max-height: 50px;
      height: 100%;
    }

    &-span{
      font-weight: 800;
    }
  }

  &__text{
    font-family: "Circe", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 134%;
    color: #fff;
  }
}

//partners-program
.partners-program{
  margin-bottom: 170px;

  &__blocks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 52px;
  }

  &__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #7f5af0;
    padding: 25px 50px;

    &-media{
      margin-bottom: 24px;
    }

    &-title{
      text-align: center;
      font-family: "Circe", sans-serif;
      font-weight: 800;
      font-size: 25px;
      line-height: 147%;
      color: #fff;
      margin-bottom: 18px;
    }

    &-text{
      font-family: "Circe", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 147%;
      text-align: center;
      color: #fff;
    }

    &:nth-child(1)::after{
      content: "";
      position: absolute;
      width: 52px;
      height: 1px;
      top: 50%;
      right: -27%;
      background: linear-gradient(270deg, #2CB67D 0%, rgba(44, 182, 125, 0) 100%);
      transform: translate(-100%, 50%);
    }

    &:nth-child(4)::after{
      content: "";
      position: absolute;
      width: 89px;
      height: 1px;
      top: -27px;
      right: -41%;
      background: linear-gradient(270deg, #2CB67D 0%, rgba(44, 182, 125, 0) 100%);
      transform: translate(-100%, 50%) rotate(-45deg);
    }

    
    &:nth-child(1),
    &:nth-child(4){
      border-radius: 100% 20px 100% 100%;
    }

    &:nth-child(2){
      background-color: transparent;
      border: 3px solid #2cb67d;
      border-radius: 20px;
      .partners-program__block-media{
        margin-bottom: 0;
      }
    }

    &:nth-child(3)::after{
      content: "";
      position: absolute;
      width: 52px;
      height: 1px;
      top: 50%;
      left: 0;
      background: linear-gradient(90deg, #2CB67D 0%, rgba(44, 182, 125, 0) 100%);
      transform: translate(-100%, 50%);
    }

    &:nth-child(3),
    &:nth-child(6){
      border-radius: 20px 100% 100% 100%;
    }

    &:nth-child(6)::after{
      content: "";
      position: absolute;
      width: 89px;
      height: 1px;
      top: -30px;
      left: 17px;
      background: linear-gradient(90deg, #2CB67D 0%, rgba(44, 182, 125, 0) 100%);
      transform: translate(-100%, 50%) rotate(45deg);
    }

    &:nth-child(5)::after{
      content: "";
      position: absolute;
      width: 52px;
      height: 1px;
      top: -27px;
      left: 0;
      background: linear-gradient(90deg, #2CB67D 0%, rgba(44, 182, 125, 0) 100%);
      transform: translate(325%, 0) rotate(90deg);
    }

    &:nth-child(5){
      border-radius: 100% 100% 20px 20px;
    }
  }


}
