*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  background-color: transparent;
  border: none;
}

body{
  background-color: #141414;
}

.container{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header__container{
  display: flex;
  flex-direction: column;

  .header__top{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;

    .header__text{
      font-family: "Manrope";
      font-weight: 700;
      font-size: 13px;
      color: #fff;
      margin-right: auto;
    }

    .btn-border{
      font-family: "Manrope";
      font-weight: 700;
      font-size: 14px;
      color: #fff;
      background: #191919;
      padding: 10px 70px 11px;
      border: 2px solid #7F5AF0;
      border-radius: 100px;
      opacity: .8;
      transition: opacity .2s;

      &.green{
        border-color: #2CB67D;
      }

      &:hover{
        opacity: 1;
      }
    }
  }

  .header__bottom{
    border: 2px solid #404040;
    border-radius: 20px;
    background: #191919;
    padding: 12px 54px;

    .header__list{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

      .header__item-link{
        font-family: "Manrope";
        font-weight: 700;
        font-size: 17px;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 6px 22px;
        background: transparent;
        border-radius: 100px;
        transition: background-color .2s;

        &:hover{
          background-color: #404040;
        }


        &.green{
          padding: 6px 22px;
          background: #2cb67d;
          border-radius: 100px;
          opacity: .8;
          transition: opacity .2s;

          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
}

